CompileFlags:
  Add:
    - "-isysroot"
    - "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk"
    - "-I/Users/pltarun/Developer/VidPreview/VidCore/Frameworks/FFmpeg/include"
    - "-I."
    - "-IVidCore"
    - "-IVidCore/Decoding"
    - "-x"
    - "objective-c++"
    - "-std=gnu++20"
    - "-fmodules"
    - "-fobjc-arc"
